:root {
  --shadow: 0 5px 10px -5px #00000080;
}

.calculator {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  font-family: "Roboto";
}

.calculator p {
  font-size: 30px;
  margin-left: 10%;
}

.second-container {
  display: grid;
  grid-template-rows: 1fr, 3fr, 2fr;
  row-gap: 1fr;
}

.cta-header-container,
.top-cta-container {
  display: grid;
  overflow: hidden;
}

.minute {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  color: #808080;
}

.radio-group {
  display: grid;
  grid-template-rows: repeat(7, 50px);
  row-gap: 5%;
}

.radio-group h4 {
    font-size: 30px;
    margin-left: 10%;
}

.radio-group textarea {
    min-height: 100px;
}

.radio {
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
}

.radiolabel {
  font-size: 20px;
  margin-left: 1%;
}

.radiobutton {
  margin-left: 20%;
  width: 20px;
  height: 20px;
}

.button-next {
  min-height: 60px;
  font-size: 25px;
  box-shadow: var(--shadow);
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.button-next:hover {
    animation: bounce 1s;
    /* background-color: #808080;
    color: white;
    transition: 1s; */
}

.feedback-input {
    margin: 0 20%;
    font-size: 15px;
    box-shadow: var(--shadow);
}

/* loader */
.loader {
  position: relative;
  display: inline-block;
  margin: auto;
}
.loader::before {
  content: "Loading";
  color: #78b1ea;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  letter-spacing: 2px;
  display: inline-block;
  box-sizing: border-box;
  animation: floating 1s ease-out infinite alternate;
}
.loader::after {
  content: "";
  width: 100%;
  height: 10px;
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 0;
  top: 100%;
  filter: blur(4px);
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 1s ease-out infinite alternate;
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25px);
  }
}

@keyframes animloader {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
  }
}
