.footer-container {
    font-family: 'Marck Script';
    min-height: 200px;
    background: #0e0e0e;
    grid-auto-flow: column;
    color: white;
    font-size: clamp(1rem, 1.5rem, 2rem);
}

.footer {
    align-items: center;
    justify-content: space-evenly;
}