.text {
    align-items: center;
    text-align: center;
    height: 500px;
}

.what {
    margin-top: 150px;
    font-size: 50px;
    text-align: center;
}

.creative {
    font-size: 30px;
}

/* ---competencies---<> */


.competencies {
    width: 1200px;
    display: block;
    padding: 0;
    margin: 0 auto;
}

.competencies-title {
  margin-bottom: 10px; 
  margin-top: 50px;
}

.competencies-img {
    margin: 0;
    padding: 0;
    margin: 0 auto;
 }

.competencies-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  text-align: center;
}
.competencies-icon {
    padding: 30px 0 30px 0;
    width: calc(100% / 5);
}

/* ---competencies---<> */