@import url("../fonts/fonts.css");
@import url("root.css");
@import url("reset.css");
@import url("global.css");

html {
scroll-behavior: smooth;
}

body {
  font-family: 'Roboto';
  font-size: 16px;
  color: var(--black);
}

/*--- header---<> */

header {
  padding: 25px 0;
  margin-bottom: 60px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-switch{
  display: inline-block;
  position: relative;
  width: 62px;
  height: 30px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(28, 84, 141, 0.25);
  margin-right: 30px;
  cursor: pointer;
}

.header-switch-circle{
  position: absolute;
  top: 5px;
  left: 5px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: var(--black);
}

/*--- header---</> */

/* ---prime---<> */

.prime {
  margin-bottom: 60px;
}

.prime-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.prime-img {
  position: relative;
  background-image: url("../img/decor/avatar.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100%;
  background-size: cover;
  overflow: hidden;
}

.prime-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.prime-text-box {
  display: flex;
  align-items: center;
}

.prime-heading {
  margin-bottom: 10px;
}

.prime-title {
  margin-bottom: 10px;
}

.prime-text {
  max-width: 800px;
  line-height: 150%;
}

@media(max-width:1040px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }
}

@media(max-width:750px) {
  .container {
    padding: 0 10px;
  }

  .prime-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
  }

  .prime-img {
    min-width: 300px;
    min-height: 300px;
    padding-top: 0;
  }

  .prime-text-box{
    text-align: center;
  }
}

/*---- prime----</> */

.main-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin-bottom: 20px;
}

.certificates-title {
  margin-bottom: 10px;
}

.certificates-slider img {
  display: flex;
  width: 100%;
}

.project-title {
  margin-bottom: 10px;
}

.project-slider {
  height: 100%;
}

.project-list {
  display: flex;
  gap: 20px;
  height: 100%;
  align-items: center;
}

.project-item {
  display: flex;
  width: 100%;
}

.competencies-title {
  margin-bottom: 10px;
}

.competencies-img {
  display: flex;
  width: 100%;
}

.calculator-title {
  margin-bottom: 10px;
}

.feedback {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

/* ---footer---<> */

footer {
  padding: 25px 0;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}

.footer-icon{
  height: 30px;
  width: auto;
}

.footer-icon:nth-child(2){
  margin-left: 30px;
  margin-right: 30px;
}

.hover-image-scale svg {
  transition: all 0.2s linear; /* Время эффекта */
  transform: scale(1);
  display: block; 
}


.hover-image-scale svg:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
}

/* ---footer---</> */