@import url("../fonts/fonts.css");
@import url("root.css");
@import url("reset.css");
@import url("global.css");

body {
  font-family: 'Roboto';
  font-size: 16px;
  color: var(--black);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  padding: 25px 0;
  margin-bottom: 60px;
}

.main-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin-bottom: 20px;
}

.prime {
  margin-bottom: 20px;
}

.prime-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.prime-img {
  position: relative;
  background-image: url("../img/decor/avatar.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100%;
  background-size: cover;
  overflow: hidden;
}

.prime-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.prime-text-box {
  display: flex;
  align-items: center;
}

.prime-heading {
  margin-bottom: 10px;
}

.prime-title {
  margin-bottom: 10px;
}

.prime-text {
  max-width: 652px;
  line-height: 150%;
}

.certificates-title {
  margin-bottom: 10px;
}

.certificates-slider img {
  display: flex;
  width: 100%;
}

.project-title {
  margin-bottom: 10px;
}

.project-slider {
  height: 100%;
}

.project-list {
  display: flex;
  gap: 20px;
  height: 100%;
  align-items: center;
}

.project-item {
  display: flex;
  width: 100%;
}

.competencies-title {
  margin-bottom: 10px;
}

.competencies-img {
  display: flex;
  width: 100%;
}

.calculator-title {
  margin-bottom: 10px;
}

.feedback {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

footer {
  background-color: gray;
  padding: 25px 0;
}