h1 {
  font-family: "Playfair";
  font-size: 48px;
  font-weight: 500;
}
  
h2 {
  font-size: 32px;
  font-weight: 500;
}
  
.container {
  max-width: 1324px;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: content-box;
  @media (max-width: 1024px) {
    max-width: 1024px;
  }
  @media (max-width: 320px) {
    max-width: 320px;
  }
}