.certificates-slider-container,
.projects-slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.projects-slider-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.slider-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slider-slide {
  flex: 0 0 100%;
  height: 400px;
}

.slider-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --slider-prev--*/
.slider-prev {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45%;
  width: 30px;
  height: 30px;
  z-index: 1;
}
.slider-prev:before,
.slider-prev:after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-top: 10px solid #337ab7;
  border-left: 10px solid #337ab7;
  animation: slider-prev 3s linear infinite reverse;
}
.slider-prev:after {
  animation: slider-prev 3s linear infinite reverse -1.5s;
}
@keyframes slider-prev {
  0% {
    opacity: 0;
    transform: translate(-30px, 0) rotate(-45deg);
  }
  10%,
  90% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(0, 0) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: translate(30px, 0) rotate(-45deg);
  }
}
/* --slider-prev--*/

/* --slider-next-- */
.slider-next {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45%;
  width: 30px;
  height: 30px;
  z-index: 1;
}
.slider-next:before,
.slider-next:after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-right: 10px solid #337ab7;
  border-bottom: 10px solid #337ab7;
  animation: slider-next 3s linear infinite;
}
.slider-next:after {
  animation: slider-next 3s linear infinite -1.5s;
}
@keyframes slider-next {
  0% {
    opacity: 0;
    transform: translate(-30px, 0) rotate(-45deg);
  }
  10%,
  90% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(0, 0) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: translate(30px, 0) rotate(-45deg);
  }
}
/* --slider-next-- */

.slider-prev {
  left: 0;
}

.slider-next {
  right: 0;
}

.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slider-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #bbb;
  cursor: pointer;
}

.slider-dot.active {
  background-color: #333;
}
