
@import 'module/vars';
@import 'module/mixins';

*{
    margin:0;
    padding:0;
}
html,body{
    background-color: $white; 
}
.wrapper{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    max-width: 1728px;
    min-width: 324px;
    padding-left: 11.68%;
    padding-right: 11.68%;
    margin: 0 auto;
    
@import 'module/header';
@import 'module/main';
@import 'module/footer';


}

@media(max-width:768px){
.wrapper{
    padding-left: 0;
    padding-right: 0;
}
}