@charset "UTF-8";
/*  максимальная ширина экрана */
/* минимальная ширина*/
/* Основной черный */
/* основной белый*/
/* Основной голубой */
/* Голубой для кнопок в темной теме*/
/* Голубой для кнопок в темной теме при наведении*/
/* Синий для кнопок в светлой теме*/
/* Синий для кнопок в светлой теме при наведении*/
/* Красный для не валидных инпутов*/
/* Зеленый для валидных инпутов*/
* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #ffffff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  max-width: 1728px;
  min-width: 324px;
  padding-left: 11.68%;
  padding-right: 11.68%;
  margin: 0 auto;
}

.wrapper header {
  background: gray;
  text-align: center;
  max-width: 1324px;
  min-width: 324px;
  margin-bottom: 60px;
  min-height: 100px;
}

.wrapper header .header-container {
  width: 100%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper header .header-container .header-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.wrapper header .header-container .header-btns .header-switch {
  border: none;
  width: 62px;
  height: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(93, 135, 177, 0.5));
          filter: drop-shadow(0px 4px 10px rgba(93, 135, 177, 0.5));
  background: #FFFFFF;
  border-radius: 15px;
  cursor: pointer;
}

.wrapper header .header-container .header-btns .header-switch::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1C2127;
}

.wrapper header .header-container .header-btns .header-entry {
  border: none;
  cursor: pointer;
  background: transparent;
}

.wrapper main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1324px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 320px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper main .prime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1324px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 320px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.wrapper main .prime .section-left {
  outline: solid #444 2px;
  width: 33%;
  min-width: 320px;
}

.wrapper main .prime .section-right {
  outline: solid #444 2px;
  width: 67%;
  min-width: 320px;
}

.wrapper main .prime .avatar {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.wrapper main .prime .avatar-discription {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.wrapper main .main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1324px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 320px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.wrapper main .main-box .section-left {
  outline: solid #444 2px;
  width: 33%;
  min-width: 320px;
}

.wrapper main .main-box .section-right {
  outline: solid #444 2px;
  width: 67%;
  min-width: 320px;
}

.wrapper main .main-box .sertificate {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.wrapper main .main-box .projects {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.wrapper main .main-box .competention {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.wrapper main .main-box .calculater {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.wrapper main .feedback {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
  width: 100%;
  outline: solid #444 2px;
}

@media (max-width: 1024px) {
  .wrapper main .section-left {
    outline: solid #444 2px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 320px;
  }
  .wrapper main .section-right {
    outline: solid #444 2px;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    min-width: 320px;
  }
  .wrapper main .avatar {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .wrapper main .avatar-discription {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .wrapper main .sertificate {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .wrapper main .projects {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .wrapper main .competention {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .wrapper main .calculater {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    width: 100%;
  }
  .wrapper main .feedback {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .wrapper main .section-left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .wrapper main .section-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .wrapper main .avatar {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .wrapper main .avatar-discription {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .wrapper main .sertificate {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .wrapper main .projects {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .wrapper main .competention {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .wrapper main .calculater {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    width: 100%;
  }
  .wrapper main .feedback {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
    width: 100%;
  }
}

.wrapper footer {
  outline: solid green 2px;
  text-align: center;
  max-width: 1324px;
  min-width: 324px;
}

@media (max-width: 768px) {
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */