@import 'mixins';
main {
    @include flexmain;
    align-items: stretch;
    flex-direction: column;
    flex-grow:1;
.prime{
     @include flexmain;

    align-items: stretch;

    .section-left {
    outline:solid #444 2px;
    flex: 1;
    // width: 33%;
    min-width: 320px;

}
.section-right {
     outline:solid #444 2px;
    flex:2;
   
    // width: 67%;
min-width: 320px;

}
.avatar{
    order:1;
}
.avatar-discription{
    order:2;
}
}
.main-box{
        @include flexmain;

  align-items: stretch;
    .section-left {
    outline:solid #444 2px;
    // flex: 1;

    width: 33.3%;
min-width: 320px;

}
.section-right {
     outline:solid #444 2px;
    // flex:2;
   
    width: 66.7%;
min-width: 320px;

}
.sertificate{
    order:1;
}
.projects{
    order:2;
}
.competention{
    order:3;
}
.calculater{
    order:4;
}
}
    


.feedback{
    order:7;
    width: 100%;
    outline: solid #444 2px;
}
}

@media(max-width:1254px){
main {
   
.main-box{

.section-left {
    outline:solid #444 2px;
    // flex: 1;
    
    width: 33%;
min-width: 320px;

}
.section-right {
     outline:solid #444 2px;
    flex:2;
  
    width: 67%;
min-width: 320px;

}
}
}
}

@media(max-width:1024px){
main {
   
.prime{
   
.avatar{
    order:1;
}
.avatar-discription{
    order:2;
}
}
.main-box{
        @include flexmain;

  align-items: stretch;
    .section-left {
    outline:solid #444 2px;
    flex: 1;
    width: auto;
    // width: 33%;
min-width: 320px;

}
.section-right {
     outline:solid #444 2px;
    flex:2;
   width: auto;
    // width: 67%;
min-width: 320px;

}
.sertificate{
    order:1;
}
.projects{
    order:3;
    flex:none;
    width: 100%;
}
.competention{
    order:2;
}
.calculater{
    width: 100%;
    flex:none;
    order:4;
}
}
    


.feedback{

    width: 100%;
    outline: solid #444 2px;
}
}
}

@media(max-width:425px){
mmain {
   
.prime{
   
.avatar{
    order:1;
}
.avatar-discription{
    order:1;
}
}
.main-box{
        @include flexmain;

  align-items: stretch;
    .section-left {
    outline:solid #444 2px;
    flex: 1;
    // width: 33%;
min-width: 320px;

}
.section-right {
     outline:solid #444 2px;
    flex:1;
   
    // width: 67%;
min-width: 320px;

}
.sertificate{
    order:1;
}
.projects{
    order:3;
    flex:none;
    width: 100%;
}
.competention{
    order:2;
}
.calculater{
    width: 100%;
    flex:none;
    order:4;
}
}
    


.feedback{

    width: 100%;
    outline: solid #444 2px;
}
}
}