/* @import url(./fonts.css); */

.header-container {
    min-height: 200px;
    background: #0e0e0e;
    grid-template-columns: repeat(1fr, minmax(200px, 1fr));
    grid-auto-flow: column;
    grid-gap: 1rem;
}

.heading {
    font-family: 'Marck Script';
    color: white;
    align-items: center;
    margin-left: 10%;
}

.header-icons {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    justify-items:end;
    align-items: center;
    grid-gap: 1.5rem;
    margin-right: 10%;
}