.top-cta-container {
  width: 876px;
}

.second-container {
  border-bottom: 0;
  border-top: 2px solid rgba(0,0,0,0.8);
  border-left: 2px solid rgba(0,0,0,0.8);
  border-right: 2px solid rgba(0,0,0,0.8);
  border-radius: 6px 6px 0 0;
  background: #f3f3f3;
  height: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question {
  width: 100%;
}

.question p {
font-size: 20px;
padding-top: 10px;
padding: 0.5em;
padding-left: 3%;
margin: 0;
}

.top-cta-container .cta-header-container {
  box-sizing: border-box;
  width: 100%;
  color: #ffffff;
  right: 0;
  overflow: hidden;
  height: 360px;
}

.cta-header-container a {
  display: block;
}

.cta-header-container h1 {
font-weight: 600;
font-size: 2.5rem;
color: #4b4b4b;
text-align: center;
padding: 0 50px;
}

.radio-group {
  padding: 2px;
  position: relative;
  font-size: 16px;
  line-height: 1.3;
  margin: 5px 10px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.radio-group h4 {
font-family: 'Roboto', sans-serif, 'arial';
font-weight: 400;
font-size: 20px;
color: black;
margin: 10px 0 10px 0;
}

.group-answer {
  padding: 2px;
  margin: 0 auto 0.4em;
}

.group-answer a {
  text-decoration: none;
}

.radio {
  position: relative;
  display: block;
  width: 100%;
}

.radiolabel {
  border: 1px solid #c7c7c7;
  position: relative;
  padding: 0.4em 1em 0.4em 40px;
  display: block;
  border-radius: 0.363636em;
  background: #fafafa;
  cursor: pointer;
  color: #4b4b4b;
  box-shadow: 1px 1px 0 rgb(0 0 0 / 30%), 0 2px 2px rgb(0 0 0 / 30%);
  -webkit-transition: box-shadow 0.3s ease-in-out,border-color 0.2s ease-in-out;
  transition: box-shadow 0.3s ease-in-out,border-color 0.2s ease-in-out;
}

.radiobutton {
  top: 46% !important;
  left: 0.4em !important;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  box-shadow: 0 0 0 0 #ffffff inset;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #c0bbbb;
  background: #ebe7e7;
  display: inline-block;
  position: absolute;
}

.radiolabel:before {
  margin-top: -11px;
}

.button-next {
display: block;
padding: 0.5em 1.5em;
line-height: 1.3;
font-size: 1.384615rem;
text-align: center;
color: var(--button-primary-fg);
font-weight: var(--fwb);
margin: 0 auto;
width: 50%;
border: 0;
border-radius: var(--ui-small-radius);
background-color: var(--button-primary-bg,#1C548D);
cursor: pointer;
}

.button-next:hover {
transition: ease-in-out 0.5;
transform:scale(1.05);
background-color: var(--button-primary-bg,#063d75)
}

.disabled {
opacity: 0.6;
cursor:auto;
background-color: #063d75;
}

.disabled:hover {
transform:scale(1);
}

/* it takes one minute */

span.minute {
display: block;
text-align: center;
margin-top: 0;
font-size: .8em;
color: #545454;
letter-spacing: 1px;
padding: 10px;
border-top: 0;
border-right: 2px solid rgba(0,0,0,0.8);
border-left: 2px solid rgba(0,0,0,0.8);
border-bottom: 2px solid rgba(0,0,0,0.8);
border-radius: 0 0 6px 6px;
background: #dedede;
}

/* loader */
.loader {
position: relative;
display: inline-block;
margin: auto;
}
.loader::before {
content: 'Loading';
color: #78B1EA;
font-family: Arial, Helvetica, sans-serif;
font-size: 48px;
letter-spacing: 2px;
display: inline-block;
box-sizing: border-box;
animation: floating 1s ease-out infinite alternate;
}
.loader::after {
content: '';
width: 100%;
height: 10px;
background: rgba(0, 0, 0, 0.15);
position: absolute;
left: 0;
top: 100%;
filter: blur(4px);
border-radius: 50%;
box-sizing: border-box;
animation: animloader 1s ease-out infinite alternate;
}

/* Contact form */
.feedback-input {
color: black;
font-weight: 500;
font-size: 18px;
border-radius: 5px;
line-height: 22px;
background-color: transparent;
border: 2px solid #c7c7c7;
transition: all 0.3s;
padding: 13px;
margin-bottom: 15px;
width: 100%;
box-sizing: border-box;
outline: 0;
}

.feedback-input:focus { border: 2px solid #4b4b4b; }

.feedback-input:invalid {
box-shadow: 0 0 5px 1px #1C548D;
}

textarea {
font-family: Helvetica, Arial, sans-serif;
height: 150px;
line-height: 150%;
resize: vertical;
}

/* check mark */

.circle {
position: relative;
background: #1C548D;
border-radius: 50%;
width: 150px;
height: 150px;
margin: auto;
}

.checkmark {
position: absolute;
transform: rotate(45deg) translate(-50%, -50%);
left: 35%;
top: 45%;
height: 50px;
width: 25px;
border-bottom: 3px solid white;
border-right: 3px solid white;
}

/*---*/

@keyframes floating {
0% {
  transform: translateY(0);
}
100% {
  transform: translateY(-25px);
}
}

@keyframes animloader {
0% {
  transform: scale(0.8);
}
100% {
  transform: scale(1.2);
}
}

@media (max-width: 1024px) {
  .top-cta-container {
      width: 940px;
  }

  .button-next {
    font-size: 20px;
    width: 100%;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .top-cta-container {
    width: 300px;
}

.flexi-webforms-cta .top-cta-container {
    border-left: 0;
}

.button-next {
  font-size: 13px;
  width: 100%;
  margin-bottom: 0;
}
}


